.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  color: white;
  width: 100%;
  min-height: 20vh;
}

.Footer h3 {
  font-size: 64px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
